<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Inventory</title>
    <link href="/product.css" rel="stylesheet">
</head>
<body>
    <h1>Product Inventory</h1>
    <table>
        <thead>
            <tr>
                <th>Product Designation</th>
                <th>Retail Price</th>
                <th>Product Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Denim Jacket</td>
                <td>$34.95</td>
                <td>Fashion</td>
            </tr>
            <tr>
                <td>Glass Vase</td>
                <td>$12.30</td>
                <td>Decor</td>
            </tr>
            <tr>
                <td>Executive Ballpoint</td>
                <td>$3.65</td>
                <td>Writing Instruments</td>
            </tr>
        </tbody>
    </table>
    <a href="products/add-product">Add New Product</a>
   
</body>
</html>
